<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Visualisation of Great Britain 2010 General Election Results</b></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Map and boundary layer powered by the Ordnance Survey OpenSpace service (<a href="http://www.ordnancesurvey.co.uk/business-and-government/help-and-support/web-services/index.html">Link</a>)
                    </li>
                    <li class="list-group-item">
                        Boundary lookups for linking boundary layer to election data (<a href="https://www.ordnancesurvey.co.uk/forums/discussion/1000257/data-derived-from-boundary-line-look-ups-">Link</a>)
                    </li>
                    <li class="list-group-item">
                        Election result data provided by the Guardian (<a href="http://www.theguardian.com/news/datablog/2010/may/07/uk-election-results-data-candidates-seats">Link</a>)
                    </li>
                    <li class="list-group-item">
                        Developed by Michael Bell
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
